.DS_Store
node_modules
.vscode-test/
*.vsix

.vscode/settings.json
.vscode/ssjs-setup.json

TODO.md

test.ssjs

images/ssjs-vsc-demo1.1.gif

versions/

sfmcErrors.md
analyticsQueries.md

src/auxi/helpers.js

.env