.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json

.DS_Store

*.vsix
versions/**
TODO.md

images/*.gif
images/walkthrough/
images/logo.png

# node_modules

node_modules/monaco-editor
!node_modules/monaco-editor/min/**

# Custom webview source:
configView/**
!configView/dist/**